
@font-face {
 font-family: "Gorillaz";
 src: url("../assets/fonts/gorillaz_1.ttf") format("TrueType");
}
@font-face {
 font-family: "AllAges";
 src: url("../assets/fonts/AllAges.ttf") format("TrueType");
}


body {
  background-color:black;
}
#entete-connexion {
  background-image:url('../assets/img/jimmy2.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color:black;
  height:auto;
}




/*Formulaire */

#coldroite{
  background-color: black;
  padding-bottom:15%;
  border-left:3px solid orangered;
}

.login
{
  padding-top:150px;
}

.login h1 {
	 font-family: "Gorillaz", sans-serif;
	margin-left:0px;
  font-size:4em;
  color:white;
}

.form-element i {
        color:firebrick;
        position: absolute;
        left: 20%;
        transform: translate(-50%,-50%);
     }

    .form-element {
      width: 80%;
      position: relative;
      border-bottom: 1px solid black;
      padding:10px;
      margin-left:10px;
      }

      span {
        display: inline-block;
        width: 20%;
        color: black;
        }

        .erreur {
        	color:red;
        	padding-top:10px;
        	margin-left:50px
        }
        
      input {
        display: inline-block;
        width: 80%;
        margin: 10px 0 0 0;
        padding: 10px 10px 20px 20px;
        background: transparent;
        outline: none;
        border: none;
        color: darkslateblue;
        &::placeholder
          color: black;
          font-size: 1em;
          font-weight: 500;
      }
    button {
      position: relative;
      margin: 40px;
      width: 60%;
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 25px;
      text-transform: uppercase;
      background: darkslateblue;
      color: white;
      font-weight: 800;
      cursor: pointer;
}

/******* NG ********/


    .ng-invalid.ng-touched {
      color:red;
    }


      button:disabled {
    background-color:#717782;
}