.main-navbar {
	margin-top:5px;
background: linear-gradient(to right,#0f2535, #161720);
	padding-top:17px;
	padding-bottom:8px;
	border-radius:1px;
}
.list-navbar li {
	display:inline;
	margin-right:40px;
	color:white;
}
.forum-music img {
	margin-top:5px;
}
.forum-music{
	position:relative;
	margin-top:10px;
	margin-bottom: 10px;
}
.les-forums {
	position:absolute;
	top:0
}
.les-forums {
display:none;
}
.les-forums img {
position:relative;
border:1px solid white;
}
.caption {
    position: absolute;
top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/* border:1px solid white;*/
  
  
  padding:10px;
 /*
  background-color: rgba(15,37,53,0.6) ;*/
}

  .les-forums{
  color: white !important;
	
  }
.les-forums a{
  color:white!important;
  text-shadow: 2px 2px 2px black;
 
  }

  .les-forums .nbdemessages{
  color: orange !important;
  }
  .les-forums .nbdesujets{
  color: orange !important;
  }

.les-forums img {
	
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.les-forums .categories:hover {

	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	color:gold;
	
	text-shadow:2px 1px 1px black;
}
.nb-content {
	background: linear-gradient(to right,#0f2535, #161720);
	border-radius:6px;
	padding:2px;
}
