#inscription-content {
	background-image: url('../assets/img/damso3.png');
  background-repeat: no-repeat;
  
	height:auto;
 
}

/*Formulaire */
#coldroite{
  background-color: transparent;
  padding:%;
  

}


.register
{
  padding:40px;
}

.register h1 {
	 font-family: 'Anton', sans-serif;
  font-size:2em;
  color:white;
}

.form-element i {
        color:orangered;
        position: absolute;
        left: 18%;
        transform: translate(-40%,-90%);
     }

    .form-element {
      width: 100%;
      position: relative;
      border-bottom: 2px solid black;
      padding:0px;
      margin-left:0px;
      }

      .register span {
        display: inline-block;
        width: 20%;
        color: black;
        }

        .erreur {
        	color:red;
        	padding-top:10px;
        	margin-left:50px
        }
        
      input {
        display: inline-block;
        width: 80%;
        margin: 10px 0 0 0;
        padding: 10px 10px 20px 20px;
        background: transparent;
        outline: none;
        border: none;
        color: white;;
        &::placeholder
          color: black;
          font-size: 1em;
          font-weight: 500;
      }
    button {
      position: relative;
      margin: 40px;
      width: 60%;
      padding: 10px;
      outline: none;
      border: none;
      border-radius: 25px;
      text-transform: uppercase;
      background: #D32F2F;
      color: white;
      font-weight: 800;
      cursor: pointer;
      
}

/******* NG ********/


    .ng-invalid.ng-touched {
      color:red;
    }


      button:disabled {
    background-color:#717782;
}