body {
	background-color:black;
}
.container {

  /*
	border-right:2px solid white;
	border-left:2px solid white;*/
}
.navbar {
 background: linear-gradient(to right,#000000, #063852);
}
.navbar img {
  width:150px;
  border-radius:20px;
}

nav .navbar-nav li a{
  font-family: 'Anton', sans-serif;
  color: white !important;
  margin-right:30px;
  }
nav .navbar-nav li a:hover{
  color: gold !important;
  }
i{
  margin-right:10px
}